[submodule "Core_Curriculum_Projects/Rank03/minishell"]
	path = Core_Curriculum_Projects/Rank03/minishell
	url = https://github.com/tiziaco/minishell.git
[submodule "Core_Curriculum_Projects/Rank04/miniRT"]
	path = Core_Curriculum_Projects/Rank04/miniRT
	url = https://github.com/OwnerOfJK/miniRT.git
[submodule "Core_Curriculum_Projects/Rank01/libft_v2"]
	path = Core_Curriculum_Projects/Rank01/libft_v2
	url = https://github.com/OwnerOfJK/libft.git
[submodule "Core_Curriculum_Projects/Rank05/Webserv"]
	path = Core_Curriculum_Projects/Rank05/Webserv
	url = https://github.com/bejasch/Webserv.git
[submodule "Core_Curriculum_Projects/Rank06/ft_transcendence"]
	path = Core_Curriculum_Projects/Rank06/ft_transcendence
	url = https://github.com/cubernetes/ft_transcendence.git
